.link-style{
    color:#1D7EFF;
    text-decoration: none;
    font-weight: 700;
}
.link-style:hover{
    color:#1D7EFF; 
}
.menu-link{
    text-decoration: none;
    color:white;
    margin-left: 3rem;
}
